<h2>List of Works</h2>

<button>
  <%= link_to "Add Work", new_work_path %>
</button>

<ul>
  <% @works.each do |work|  %>
    <li>
      <p><%= work.category%>, <%= work.title%>, <%= work.creator%>, <%= work.publication_year%>, <%= work.description%>  </p>
    </li>
  <% end %>
</ul>