<section class="spotlight">
  <h2 class="spotlight__header">
    <span class="spotlight__header--prefix"> Media Spotlight: </span>
     <%= link_to "#{Work.spotlight.title}", work_path(Work.spotlight.id), class: "spotlight__link-to" %> by <%= Work.spotlight.creator%>
  </h2>
  <p class="spotlight__description"> 
     <%= Work.spotlight.votes.length%> votes - <%= Work.spotlight.description%>
  </p>
</section>

<hr class="root__hr" />

<% albums = Work.sort_works("album")%>

<%= albums.first.title%>

<%= albums.last.title%>