<% if @invalid_vote_message %>
  <div class="error-reason">
  <ul>
    <% @invalid_vote_message.each do |column, message| %>
      <li>
        <strong><%= column %></strong>: <%= message.first %>
      </li>
    <% end %>
  </ul>
  </div>
<% end %>

<main>
  <section>
    <h2><%= @work.title %> </h2>

    <p>Created by: <%= @work.creator %></p>
    <p>Published: <%= @work.publication_year %></p>
    <p><%= @work.description %></p>

    <section>
      <%= link_to "Back to media ranks", root_path, class: "btn btn-primary"%>
      <%= link_to "Edit", edit_work_path, class: "btn btn-primary"%>
      <%= link_to "Upvote", upvote_path(@work.id), method: :post, class: "btn btn-primary" %>
      <%= link_to "Delete", work_path(@work), method: :delete , data: {confirm: "Are you sure?"}, class: "btn btn-danger"%>
    </section>
  </section>

  <section class="works-votes__container">
    <h3 class="works-votes__header"> <%= @work.votes.length%> Votes for this <%= @work.category.capitalize%> </h3>

    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
        </tr>
      </thead>
      
      <tbody>
        <% work_votes = @work.votes%>

        <% work_votes.each do |vote| %>
          <% voter = User.find_by(id: vote.user_id) %>
          <tr> 
            <td><%= link_to "#{voter.name}", user_path(voter.id) %></td>
            <td><%= readable_date(vote.created_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</main>

