<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="app-header__header">
      <h1>
        <a href="/">Media Ranker</a>
        <small>Ranking the Best of Everything</small>
      </h1>

      <nav class="app-header__nav">
        <ul class="nav app-header__site-nav-container">
          <li class="nav-item app-header__nav_item">
            <%=link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item app-header__nav_item">
            <%=link_to "View all media", works_path, class: "nav-link" %>
          </li>
          <li class="nav-item app-header__nav_item">
            <%=link_to "Add a new work", new_work_path, class: "nav-link" %>
          </li>
          <li class="nav-item app-header__nav_item">
            <%=link_to "View all users", users_path, class: "nav-link"%>
          </li>
        </ul>
        <ul class="nav app-header__user-nav-container">
          <% if session[:user_id].nil? %>
            <li class="nav-item app-header__nav_item">
              <%=link_to "Login", login_path, class: "btn btn-primary"%>
            </li>
          <% else %>
            <% current_user = User.find_by(id: session[:user_id]) %>
            <li class="nav-item app-header__nav_item">
              <%=link_to "Logged in as  #{current_user.name}", user_path(current_user), class: "btn btn-primary"%>
            </li>
            <li class="nav-item app-header__nav_item">
              <%=link_to "Log Out", logout_path, method: :post, class: "btn btn-primary" %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <% flash.each do |name, message| %>
      <span class="<%= name %>">
        <p class = "<%= name %>-message"> <%= message %> </p>
      </span>
    <% end %>

    <%= yield %>

  </body>
</html>