<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <%=link_to "Home", root_path%>
      <%=link_to "Works", works_path%>
      <%=link_to "Users", users_path%>

      <section class="flash-msg__section">
      <% flash.each do |name, message| %>
        <strong class="<%= name %>">
          <%= message %>
        </strong>
      <% end %>
    </section>
    
    <%= yield %>
  </body>
</html>
